
html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}
:root {
    --main-color: white; /* Example: A shade of blue */
    --secondary-color: blue; /* Example: A shade of gray */
    --accent-color: #002233; /* Optional: For specific accents */

  }
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--accent-color);
    color: var(--main-color);
    display: flex;
    flex-direction: column;
}
.hidden {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s;
}
.show {
    opacity: 1;
    transform: translateY(0) ;
}

a, a:visited {
    text-decoration: none;
    color: var(--main-color);
}

button {
    all: unset;
}
button:hover {
    cursor: pointer;
}
nav {
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    font-size: medium;
    top: 0;
    background-color: black;
    z-index: 1000;
}

nav * {
    margin: 0;
    padding: 0;
}

nav a {
    color: var(--main-color); 
    float: left;
    text-align: center;
    text-decoration: none;
    width: fit-content;
    font-weight: bolder;
    white-space: nowrap;
}
nav .title {
    padding: 1rem 2rem;
    font-size: x-large;
}
nav div {
    position: absolute;
    right: 0;
    
}
nav div a {
    margin-right: 2rem;
    font-weight: normal;
}

nav .dropdown {
    float: left;
    position: relative;
}

nav .icon {
    height: auto;
    display: none;
    color: var(--main-color); 
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    nav {
        display: block;
        margin: 0;
    }
    nav a.icon {
      float: right;
      display: block;
      margin: 0;
      padding: 0.9rem 2rem;
    }
    nav div {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out;
        position: static;
    }
    nav div a{
        width: auto;
        padding-left: 2rem;
    }
    
  }
  @media screen and (max-width: 600px) {
    
    .main-nav.responsive {position: fixed;}
    
    .main-nav a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .main-nav.responsive div {
        max-height: 20rem;
    }
    .main-nav a{
      float: none;
      display: block;
      text-align: left;
      margin: 0;
      padding: 1rem;
    }
  }
section{
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}
section:nth-child(n+1) {
    background-color: black;
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('Photos/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* Ensures the image covers the entire screen */
    background-attachment: fixed; /* Optional: adds a subtle parallax effect */
    margin: 0; 
    color: var(--main-color);
}
.intro-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0;
}
.intro-text h1 {
    font-size: 60px;
    margin: 0.5rem 0;
    
}

.intro-text h2 {
    margin:1rem 0 0 0;
    font-size: 3vw;
    font-weight: 600;
}
.intro-text p {
    width: 70%;
    margin: 0 auto;
}
.intro-text h5 {
    font-size: 20px;
    font-weight: 300;
}
.intro button {
    margin-top: 2rem;
    display: block;
    font-weight:600;
    font-size: 125%;
    border: 2px solid;
    border-radius: 25px;
    padding: 0.75rem 2rem;
}

.social-links {
    font-size: 150%;
    margin: 1rem 0;
    
}
.social-links div {
    display: inline-flex;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}
.social-links i {
    padding: 1rem; 
    color: var(--main-color);
}
.buttons {
    display: flex;
    justify-content: center;
}

.buttons a {
    margin: 1%;
}
.intro .buttons button {
    background-color: rgba(0, 0, 255, 0.604);
    border-color: rgba(0, 0, 255, 0.596);
    color: white;
}

.section-title{
    text-align: left;
    font-size: 35px;
    margin-bottom: 5rem;
    margin-left: 5%;
    font-weight: light;
    color: var(--main-color);
}
.about {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.about .section-title {
    margin-bottom: 2rem;
}
.about img {
    width: auto;
    height: 20rem;
    border-radius: 50%;
}

.about .about-info {
    width: 40rem;
}
.about-info p {
    margin: 0 5%;
    font-size: medium;
    line-height: 1.6; /* Sets line height to 1.6 times the font size (16px * 1.6 = 25.6px) */
    letter-spacing: 0.25px; /* Adds 0.5px of space between each letter */
}
.about-info p:not(:first-child) {
    margin-top: 1rem;
}
.experience {
    text-align: center;
    background-color: var(--accent-color);
}
.timeline {
    width: 75%;
    margin: 0 auto;
}

.container {
    position: relative;
    padding:  2rem 0 2rem 2rem;
    border-left: 3px solid gray;
}
.container::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 1rem;
    height: 1rem;
    background-color: gray;
    border-radius: 50%;
    left: -0.60rem;
    z-index: 1;
  }
.work-experience-content {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    margin: 0 auto;
    justify-content: center;
}
.work-info {
    background-color: #002233af;
    color: white;
    padding: 0.5rem 2rem;
    text-align: left;
    border-radius: 10px;
}

.work-info h3 {
    font-size: larger;
    font-weight: 850;
    color: white;
}
.work-info h4 {
    margin-top: 1rem;
    font-size: medium;
    color: rgb(104, 104, 248);
    font-weight: 400;
}
.work-info ul {
    color: white;
    padding: 0;
}
.work-info h3, h4, li {
    margin: 0.25rem;
}
.projects {
    text-align: center;
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.project-item {
    width: 30rem;
    height: fit-content;
    line-height: 1.2;
    border-radius: 10px;
    margin-bottom: 2rem;
    text-align: left;
}


.project-item div img {
    width: 100%;
    height: auto;

}
.project-info {
    height: auto;
    text-align: left;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.project-item h3 {
    font-size: x-large;
}
.project-item p {
    font-size: medium;
    margin: 0;
}

.project-info span {
    display: inline-block;
    font-size: medium;
    background-color: blue;
    margin: 0;
    width: fit-content;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    margin: 1.5rem 0.25rem 1rem 0;
}
.project-item button {
    color: black;
    font-weight: 600;
    font-size: 15px;
    background-color: white;
    padding: 0.75rem 1.25rem;
    border-radius: 5px;
    border: 1px solid rgb(225, 225, 225);
    margin: 1rem 0;
}

.skills {
    display: flex;
    text-align: center;
    align-content: center;
}

.skill-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem 5%;
}
.skill-list {
    margin-left: auto;
    width: 40rem;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
}

.icon-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0.5rem;
    background-color: #002233af;
    border-radius: 10px;
}
.icon-container img {
    width: 3rem;
    height: auto;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.5rem;
}
.label {
    display: block;
    position: relative;
    color: var(--main-color);
    font-size: large;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 0.75rem;
    margin: 0.5rem;
}

.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.contact .contact-form {
    display: flex;
    width: 75%;
    flex-direction: row;
    padding-bottom: 2rem;
    justify-content: center;
    text-align: center;
}

.contact-form input, textarea {
    all: unset;
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 2rem;
    border: 1px solid var(--main-color);
    background-color: white;
    color: gray;
}
.contact-form input:nth-child(2), .contact-form input:nth-child(3) {
    width: 47.5%;
}
.contact-form input:nth-child(2) {
    margin-right: 4%;
}
::placeholder {
    color: inherit;
}
.contact-form input[type = submit] {
    all: unset;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    color: white;
    background-color: blue; 
    padding: 0.75rem 1.5rem;
    float: right;
}
.contact-form input[type = submit]:hover {
    background-color: lightblue;
    cursor: pointer;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
}

@media(hover:hover) {
    nav a:hover{
        color: var(--secondary-color);
      } 
    .main-nav.responsive div a:hover {
        background-color: skyblue;
    }
    .social-links div:hover{
        background-color: skyblue;
        border-color: skyblue;
        transition: all 0.2s;
    }
    .social-links i:hover{
        color: var(--accent-color);
    }
    .intro .buttons button:hover {
        background-color: skyblue;
        border-color: skyblue;
        color: black;
        transition: all 0.2s;
    }
    
   
}
@media screen and (max-width:600px) {
    .intro {
        flex-direction: column-reverse;
        padding: 5rem 0;
    }
    
    .intro-text {
        margin-top: 2rem;
        text-align: center;
        padding-bottom: 2rem;
        padding-left: 0;
        width: 100%;
    }
    .intro-text h1 {
        font-size: 45px;

    }
    .intro-text h2 {
        font-size: 30px;
        margin-bottom: 0;
    }
    .social-links {
        width: 100%;
        text-align: center;
    }
    .social-links div {
        margin: 0.5rem;
    }
    .social-links i {
        padding: 0.75rem; 
    }
    .intro-text button {
        margin: 1rem auto;
        font-size: 100%;
    }
    .headshot {
        width: 100%;
    }
    .headshot img {
        width: 15rem;
        height: 15rem;
        margin-right: 0;
    }
    .timeline {
        width: 90%;
    }
   
    .projects-container {
        flex-direction: column;
    }
    .project-item {
        width: 75%;
    }
    .project-item button:hover {
        transition: ease-in 0.2s;
        background-color: var(--button-hover-color);
    }    
    .contact-form input:nth-child(2), .contact-form input:nth-child(3) {
        width: 100%;
    }
    .contact-form input:nth-child(2) {
        margin-right: 0;
    }
}
